/* Rubik */
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto:wght@300&family=Rubik&family=Source+Sans+Pro&display=swap');
/* Orbitron */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Orbitron:wght@400..900&display=swap');
/* Zalando Sans */
@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap');

/*Smooth scrolling*/
html {
    scroll-behavior: smooth;
}

/* Header image containing the company logo */
.head-img{
    pointer-events: none;
    height: 7.5vw; 
    transform: translateX(18vw);
    margin-top: 2vw;
}

/* Body image as a Starry Night Sky */
/* Repeated so it's more high resolution with scaling */
body{
    background-color: #000000;
    font-family: "Open Sans", sans-serif;
    background-image: url(images/StarrySky.png);
    background-repeat: repeat;
    overflow-x: hidden;
    background-attachment: fixed; 
    background-size: cover; 
    background-position: center;
}

/*This header is on top of the 360 image, defines positioning*/
.header{
    margin-top: -12.5vw;
    margin-bottom: -2vw;
}

/* Heading 1 */
h1{
    text-align: center;
    font-family: "Zalando Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 3.5vw; 
    color: #ffffff;
    pointer-events: none;
}

/* Heading 2 */
h2{
    width: 100%; 
    text-align: left;
    font-size: 2.5vw;
    padding-top: 2%;
    margin-top: 2vw;
    margin-bottom: 5px;
    font-family: "Zalando Sans", sans-serif;
    color: #F8FDFC;
    font-optical-sizing: auto;
    font-weight: 500;
    margin-left: 3vw;
    text-shadow: 2px 5px 10px black;
    padding-bottom: 2vw;
}

/* Heading 3 */
h3{
    padding-left: 4%;
    text-align: left;
    font-size: 2.5vw;
    margin-top: 1px;
    margin-bottom: -3px;
    font-family: "Zalando Sans", sans-serif;
    font-weight: 350;
    color: #F8FDFC;
    padding-top: 1vw;
    text-decoration-thickness: 0.05em;
    text-shadow: 2px 5px 5px black;
    padding-top: 2vw;
}

/* Heading 4 */
h4{
    text-shadow: 0px 5px 15px black;
    color: #F8FDFC;
    font-size: 1.3em;
    /* margin-left: -6vw; */
    /* padding-top: 4vw; */
    font-weight: 300;
    text-align: left;
    max-width: 90%;
    padding-left: 4vw;
}

/* Heading 5 */
h5{
    margin-left: -20vw;
    margin-top: -1vw;
    padding: 2vw;
    margin-bottom: 0vw;
    font-size: 2vw;
    font-weight: 1;
    max-width: 75vw;
    color: white;
    text-decoration: underline;
}

/* Heading 6 */
h6{
    margin-top: -5vw;
    padding-top: 4vw;
    padding-bottom: 1vw;
    margin-bottom: 2vw;
    font-size: 1.8vw;
    font-weight: 1;
    max-width: 75vw;
    color: white;
}

/* Text in a list within the flexbox */
.flexbox ul li{
    color: white;
    margin-left: -8.5vw;
    margin-top: -2vw;
    font-size: 1.15vw;
}

/* paragraphs */
p{
    padding-left: 2%;
    padding-right: 10%;
    text-align: left;
    font-size: 1.2vw;
    margin-top: 1vw;
    margin-bottom: 1%;
    font-family: "Zalando Sans", sans-serif;
    color: #F8FDFC;
    text-shadow: 2px 2px 5px black;
}

/*Flexboxes are used to divide the whole page, rounded corners*/
.flexbox {
    display: flex;
    flex-wrap: wrap;
    background: #1919195d;
    border-radius: 10px 10px 10px 10px;
    height: 100%;
    width: 80%;
    margin-left: 10%;
    margin-top: -0.3vw;
    margin-bottom: -1vw;
    text-align: center;
    z-index: 2;
    box-shadow: 0 5px 50px rgb(0, 0, 0);
    background-image: linear-gradient(to bottom, transparent 90%, #19191986 100%);
}

/* Centering items within the flexbox */
.flexbox .centre{
    flex-wrap: wrap;
    background-color: #00000000;
    width: 100%;
    height: 100%;
    margin-top: -6vw;
    text-align: left;
}

/*Images in flexboxes are full width and have a transparent background color, incase the image is broken*/
.flexbox > img {
    width: 100%;
    height: auto;
    background-color: #00000000;
}

/*Nav bar*/
.nav { 
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    margin-bottom: 1vw;
    margin-left: -1vw;
    position:relative;
    background: #000000;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 10%);
    background-image: url(images/StarrySky.png);
    width: 103%;
    text-align: center;
    text-shadow: 1px 1px 2px black;
    z-index: 100;
    font-size:1.5vw; 
    padding-bottom: 1vw;
    padding-top: 1vw;
    box-shadow: 0 -10px 10px rgb(0, 0, 0);
    background-size: cover;
    overflow-x: hidden;
}

/* Navigation bar links */
.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

/* Spacing of links */
.nav-links li {
    padding: 0 1vw;
}

/* On hover rectangle shows */
ul li a:hover {
    background-color: #1111113e;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.565) 50%, rgba(0, 0, 0, 1) 10%);
    text-decoration: underline;
}

/* Makes nav bar stick to top on scroll*/
/* Makes the nav bar half transparent */
.sticky {
    position: fixed;
    top: 0;
    margin-left: -1.6vw;
    background-image: none;
    background-color: #000000;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 95%);
}

/*Footer is given colour and is fixed to the bottom of the page*/
footer{
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    padding-left: 1vw;
    padding-top: 5vw;
    padding-bottom: 4vw;
    padding-right: 1vw;
    margin-bottom: -5vw;
    margin-left: -1vw;
    height: 2vw;
    width: 100%;
    background-color: #000000;
    background: linear-gradient(0deg,rgba(0, 0, 0, 1) 65%, rgba(0, 0, 0, 0) 100%);
    color: #F8FDFC;
    font-size: 1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Put links in a column */
.footer-links{
    display: flex;
    flex-direction: column-reverse;
    list-style: none;
    margin-left: -45vw;
    margin-top: 1vw;
}

/* Spacing of links */
.footer-links li {
    margin: 0.5vw 0;
}

/* Text properties */
.footer-links a {
    color: #F8FDFC;
    text-decoration: none;
    font-size: 1.2vw;
}

/* Underline on hover */
.footer-links a:hover {
    text-decoration: underline;
    background-color: rgba(0, 0, 0, 0)
}

/* Logo Image in the footer */
.footer-img{
    height: 8vw;
    padding-left:1vw;
    margin-left: -1vw;
    margin-top: 0.5vw;
}

/* Back to top link in footer */
.backtop{
    color: #F8FDFC; 
    font-size: 1.5vw; 
    margin-left: -28vw;
}

/* My copyright */
.copyright{
    font-size: 1.5vw;
    margin-left: -10vw;
    padding-right: 2vw;
}

/*Header 360 Image JavaScript*/
iframe{
    zoom:0.2;
    z-index: 1;
    margin-left:-40px;
    margin-top:-50px;
    width: 102%;
    height: 70vw;
    overflow-x: hidden;
}

 /*Clear any styling*/
.non{
    all: unset
}

/* Hamburger menu properties */
.hamburger-menu {
    display: none;
    cursor: pointer;
    z-index: 1000;
    color: white;
    font-size: 5vh;
    background-color: #000000;
    background:  #000000;
    margin-left: -2vw;
    padding: 1vw;
    padding-left: 5vw;
    padding-top: 1vh;
    margin-top: -2vw;
    width: 100%;
    top: -2vw;
    margin-left: -4.5vw;
    margin-top: 1vw;
}

/* White bars for icon */
.hamburger-menu .bar {
    width: 2vw;
    height: 0.2vh;
    background-color: rgb(255, 255, 255);
    margin-left: 1vw;
    margin-top: 0.4vw;
}

/* Earthspin iframe styling */
.earthspin {
    position: fixed;
    top: 10vw;
    padding-top: 43vw;
    left: 32%;
    width: 200vw;
    height: 200vw;
    z-index: -1;
    border: none;
}

/*Website adjustment for small screens(Mobile)*/
@media (max-width: 900px) {
    /* Navigation bar changes dependant on screen size */
    .nav-links {
        display: none;
        flex-direction: column;
        background-color: #000000ce;
        position: absolute;
        top: 1vw;
        left: 0;
        width: 100%;
        text-align: center;
        font-size: 2vw;
    }

    .nav{
        background-color: #00000000;
        overflow-x:unset;
    }
    
    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        padding-top: 0.5vw;
    }

    .nav-links a {
        display: block;
        width: 100%;
        padding: 1.8vw 0;
    }

    /* Hamburger menu show and not show on screen */
    .hamburger-menu {
        display: block;
        position: absolute;
        left: 10px;
        padding-top: 1.1vw;
        height: 2vw;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 70%);
    }
    .hamburger-menu a{
        width:100vw;
    }
    /* Header positioning */
    .header{
        margin-top: -12.5vw;
        padding-bottom: 4vh;
        margin-bottom: -5.5vh;
    }
    /* The position of the sticky nav bar when scrolled */
    .sticky {
        position: fixed;
        top: 0.9vw;
        margin-left: -1.7vw;
    }
    /* Changing the heading 2 */
    h2{
        font-size: 4vw;
    }
    /* For the company acronym alignment */
    .company {
        font-size: 5vw; 
        margin-top: -2vw; 
        font-weight: 400; 
        letter-spacing: 3vw; 
        color:white;
    }
    /* Changing heading 3 */
    h3{
        font-size: 3vw;
    }
    /* Changing heading 4 */
    h4{
        font-size: 2vw;
    }
    /* Changing paragraphs */
    p{
        font-size: 2vw;
    }
    /* Changes the width of the header */
    iframe{
        width: 103%;
        overflow: hidden;
    }
    /* Spinning Earth */
    /* Earthspin iframe styling */
    .earthspin {
        padding-top: 100vw;
    }
}
/* Footer and header sizing on small screen */
@media (max-width: 1000px) {
    h1{
        font-size: 5vw;
        margin-top: -20vw;
    }
    .head-img{
        height: 10vw; 
        margin-top: 10vw;
        margin-left: -12vw;
        margin-bottom: -3vw;
    }
    /*This header is on top of the 360 image, defines positioning*/
    .header{
        margin-top: -22vw;
        margin-bottom: -10vw;
        padding-bottom: 8vw;
    }
    footer{
        height: 10vw;
        margin-bottom: -2vw;
        margin-left: -2vw;
        width: 102%;
    }

    /* Text properties */
    .footer-links a {
        color: #F8FDFC;
        text-decoration: none;
        font-size: 2vw;
        margin-left: 1.5vw;
        z-index: 10;
    }

    /* Back to top link in footer */
    .backtop{
        color: #F8FDFC; 
        font-size: 2.5vw; 
        margin-left: -18vw;
    }

    /* My copyright */
    .copyright{
        font-size: 2.5vw;
    }
    /* Logo Image in the footer */
    .footer-img{
        height: 10vw;
        padding-left:1vw;
        margin-left: -1vw;
        margin-top: 0.5vw;
    }
}

@media (max-width: 480px) {
    body {
        overflow-x: hidden;
    }
    .flexbox{
        width: 80%;
    }
    iframe{
        width: 105%;
    }
}

/* Parallax Section Styling */
.parallax-section {
    /* Set a height to make the section visible */
    height: 100vh;

    /* Position the text */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 50px;

    /* This makes the background image fixed in relation to the viewport,
       while the element itself scrolls. */
    background-attachment: fixed;

    /* Ensure the image covers the area and is centered */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    color: white;
    text-shadow: 2px 2px 4px #000000;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
}

/* Different Parallax Images are labelled and go here */
.parallax1 {
    background-image: url('images/aisat8.png');
}

.parallax2 {
    background-image: url('images/360image.jpg');
    align-items: center;
}

/* For any text over the parallax image */
.parallax-text {
    font-size: 2em;
    margin-bottom: 3vw;
    font-family: "Zalando Sans", sans-serif;
    font-weight: 300;
}

